@import "../../assets/scss/helpers/variables";

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 0 32px;
  border: none;
  background-color: $color-accent-primary;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  .dark-mode & {
    background-color: $color-accent-primary-dm;
  }

  &:hover {
    box-shadow: $box-elevation;

    .dark-mode & {
      box-shadow: $box-elevation-dm;
    }
  }

  &.btn--dashed {
    background-color: transparent;
    box-shadow: none !important;

    &:hover {
      opacity: 0.7;
      background-color: transparent;
    }
  }

  &.btn--no-rounded {
    border-radius: 8px;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    box-shadow: none !important;
  }
}

.btn__icon-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  z-index: 3;
}

.btn--middle {
  height: 32px;
}

.btn--small {
  height: 24px;
}

.btn__text {
  position: relative;
  transform: translate3d(0, 0, 0);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $white;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;

  .dark-mode & {
    color: $color-text-primary;
  }

  .btn--dashed & {
    color: $color-accent-primary;

    .dark-mode & {
      color: $color-accent-primary-dm;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      border-bottom: 2px dashed $color-accent-primary;

      .dark-mode & {
        border-color: $color-accent-primary-dm;
      }
    }
  }

  .btn--bordered & {
    color: $color-accent-primary;

    .dark-mode & {
      color: $color-accent-primary-dm;
    }
  }
}

.btn__text--loading {
  visibility: hidden;
  opacity: 0;
}

.btn--bordered {
  background-color: transparent;
  border: 2px solid $color-accent-primary;

  .dark-mode & {
    border-color: $color-accent-primary-dm;
    background-color: transparent;
  }
}

.btn__icon {
  position: relative;
  margin-right: 10px;
  z-index: 3;
  width: 20px;
  height: 20px;
  color: $white;

  .dark-mode & {
    color: $color-text-primary;
  }
}