@import "../../assets/scss/helpers/variables";

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  border: none;
  background: $md-sys-color-primary-light;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  .dark-mode & {
    background-color: $md-sys-color-primary-dark;
  }

  &:hover {
    opacity: 0.92;
    box-shadow: $box-elevation;

    .dark-mode & {
      box-shadow: $box-elevation-dm;
    }
  }

  &.disabled,
  &[disabled] {
    opacity: 0.38;
    pointer-events: none;
    box-shadow: none !important;
  }

  &.btn--elevated {
    background-color: transparentize($md-sys-color-surface-tint-light, 0.95);
    box-shadow: $box-elevation;

    .btn__text {
      color: $md-sys-color-primary-light;
    }

    .btn__icon {
      color: $md-sys-color-primary-light;
    }

    .preloader__spinner--btn {
      border-color: $md-sys-color-primary-light;

      .dark-mode {
        border-color: $md-sys-color-primary-dark;
      }
    }

    .dark-mode & {
      background-color: transparentize($md-sys-color-surface-tint-dark, 0.95);
      box-shadow: $box-elevation-dm;

      .btn__text {
        color: $md-sys-color-primary-dark;
      }

      .btn__icon {
        color: $md-sys-color-primary-dark;
      }
    }
  }

  &.btn--tonal {
    background-color: $md-sys-color-secondary-container-light;

    .btn__text {
      color: $md-sys-color-on-secondary-container-light;
    }

    .btn__icon {
      color: $md-sys-color-on-secondary-container-light;
    }

    .preloader__spinner--btn {
      border-color: $md-sys-color-on-secondary-container-light;

      .dark-mode {
        border-color: $md-sys-color-on-secondary-container-dark;
      }
    }

    .dark-mode & {
      background-color: $md-sys-color-secondary-container-dark;

      .btn__text {
        color: $md-sys-color-on-secondary-container-dark;
      }

      .btn__icon {
        color: $md-sys-color-on-secondary-container-dark;
      }

      .preloader__spinner--btn {
        border-color: $md-sys-color-on-secondary-container-light;

        .dark-mode {
          border-color: $md-sys-color-on-secondary-container-dark;
        }
      }
    }
  }

  &.btn--outline {
    background-color: $md-sys-color-surface-light;
    border: 1px solid $md-sys-color-outline-light;

    .btn__text {
      color: $md-sys-color-primary-light;
    }

    .btn__icon {
      color: $md-sys-color-primary-light;
    }

    .preloader__spinner--btn {
      border-color: $md-sys-color-primary-light;

      .dark-mode {
        border-color: $md-sys-color-primary-dark;
      }
    }

    .dark-mode & {
      background-color: $md-sys-color-surface-dark;
      border: 1px solid $md-sys-color-outline-dark;

      .btn__text {
        color: $md-sys-color-primary-dark;
      }

      .btn__icon {
        color: $md-sys-color-primary-dark;
      }
    }
  }

  &.btn--no-bg {
    background-color: transparent;

    .btn__text {
      color: $md-sys-color-primary-light;
    }

    .btn__icon {
      color: $md-sys-color-primary-light;
    }

    .preloader__spinner--btn {
      border-color: $md-sys-color-primary-light;

      .dark-mode {
        border-color: $md-sys-color-primary-dark;
      }
    }

    .dark-mode & {
      background-color: transparent;

      .btn__text {
        color: $md-sys-color-primary-dark;
      }

      .btn__icon {
        color: $md-sys-color-primary-dark;
      }
    }
  }
}

.btn__text {
  position: relative;
  transform: translate3d(0, 0, 0);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: $md-sys-color-on-primary-light;
  letter-spacing: normal;
  text-align: center;
  z-index: 3;

  .dark-mode & {
    color: $md-sys-color-on-primary-dark;
  }
}

.btn__text--loading {
  visibility: hidden;
  opacity: 0;
}

.btn__icon {
  position: relative;
  margin-left: -8px;
  margin-right: 8px;
  z-index: 3;
  width: 18px;
  height: 18px;
  color: $md-sys-color-on-primary-light;

  .dark-mode & {
    color: $md-sys-color-on-primary-dark;
  }
}

.btn__icon-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  z-index: 3;
}