.section-h1,
h1 {
  font-size: 36px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 100%;
  font-weight: 700;
}

.section-h2,
h2 {
  font-size: 30px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 100%;
  font-weight: 700;
}

.section-h3,
h3 {
  font-size: 28px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 100%;
  font-weight: 700;
}

.section-h4,
h4 {
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 100%;
  font-weight: 700;
}

.section-h5,
h5 {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 100%;
  font-weight: 700;
}

.section-h6,
h6 {
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 16px;
  width: 100%;
  font-weight: 700;
}