@import "@/assets/scss/helpers/variables";

.project-page-detail {
  padding-bottom: 48px;
}

.project-container {
  max-width: 800px;
  margin: 0 auto;
  font-weight: 500;

  .section-h4 {
    margin-top: 24px;
  }

  .img-wrp {
    position: relative;
    padding-top: 60%;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid $accent;
    background: $item-bg;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.project-page__btn-wr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}