@import "@/assets/scss/helpers/_variables.scss";

.switcher {
  padding: 5px 0;

  &.disabled {
    pointer-events: none;
  }
}

.switcher__item {
  position: relative;
  z-index: 0;
  display: inline-flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.switcher__ch-wr {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: normal;
}

.switcher__ch {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

  &:read-only {
    opacity: 0 !important;
  }
}

.switcher__pseudo-block {
  position: relative;
  width: 52px;
  height: 32px;
  display: inline-block;
  border-radius: 20px;
  pointer-events: none;
  background-color: $md-sys-color-surface-variant-light;
  border: 2px solid $md-sys-color-outline-light;
  transition: all 0.25s ease;

  .dark-mode & {
    background-color: $md-sys-color-surface-variant-dark;
    border: 2px solid $md-sys-color-outline-dark;
  }

  .switcher__ch:checked ~ & {
    background-color:$md-sys-color-primary-light;
    border: 2px solid $md-sys-color-primary-light;

    .dark-mode & {
      background-color: $md-sys-color-primary-dark;
      border: 2px solid $md-sys-color-primary-dark;
    }

    .switcher.disabled & {
      opacity: 0.7;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    z-index: 10;
    transform: translate3d(0, -50%, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: background-color, transform 0.25s ease;
    opacity: 0.9;
    background-color: $md-sys-color-outline-light;

    .dark-mode & {
      background-color: $md-sys-color-outline-dark;
    }

    .switcher__ch:checked ~ & {
      margin: 0;
      left: auto;
      right: 2px;
      opacity: 1;
      width: 24px;
      height: 24px;
      background-color: $md-sys-color-on-primary-light;

      .dark-mode & {
        background-color: $md-sys-color-on-primary-dark;
      }
    }
  }
}

.switcher__label {
  position: relative;
  z-index: 10;
  flex: 1 1 auto;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.switcher__label-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: $md-sys-color-on-surface-light;
  transition: all .25s ease-out;

  .dark-mode & {
    color: $md-sys-color-on-surface-dark;
  }

  .disabled & {
    color: transparentize($md-sys-color-on-surface-light, 0.7);

    .dark-mode & {
      color: transparentize($md-sys-color-on-surface-dark, 0.7)
    }
  }
}