@import "@/assets/scss/helpers/_variables.scss";

.back-title__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
  background: $md-sys-color-surface-variant-light;
  color: $md-sys-color-primary-light;
  border-radius: 50%;
  transition: background-color, color 0.25s ease;

  &:hover {
    color: $md-sys-color-on-primary-light;
    background: $md-sys-color-primary-light;
  }

  .dark-mode & {
    background: $md-sys-color-surface-variant-dark;
    color: $md-sys-color-primary-dark;

    &:hover {
      color: $md-sys-color-on-primary-dark;
      background: $md-sys-color-primary-dark;
    }
  }
}

.back-title__button-icon {
  width: 24px;
  height: 24px;
}

.back-title__wrap {
  position: relative;
}

.back-title__inner-2 {
  display: flex;
  align-items: center;
}

.back-title__inner {
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  z-index: 2;
  transition: top, padding 0.25s ease;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $md-sys-color-background-light;
    z-index: -1;
    opacity: 0;

    .dark-mode & {
      background: $md-sys-color-background-dark;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: $box-elevation;

    .dark-mode & {
      box-shadow: $box-elevation-dm;
    }

    &:before {
      opacity: 1;
    }

    .back-title__button {
      width: 24px;
      height: 24px;
      background: none;
      color: $md-sys-color-on-surface-light;
      margin-right: 8px;

      .dark-mode & {
        color: $md-sys-color-on-surface-dark;
      }
    }

    .show-top-bar + .main & {
      transform: translateY(56px);
    }
  }
}

.back-title__button-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  transform: translateZ(0);

  .fixed & {
    font-size: 16px;
    line-height: 24px;
  }
}

.back-title__button-text--capitalize {
  text-transform: capitalize;
}

.back-title__fake_height,
.back-title__fake_height-all {
  opacity: 0;
  pointer-events: none;
}

.back-title__fake_height-all {
  position: absolute;
}

.back-title__container {
  width: 100%;

  .back-title__inner:not(.fixed) & {
    padding-left: 0;
    padding-right: 0;
  }
}
