.slide-in-left-enter-active,
.slide-in-left-leave-active {
  transition: all 0.5s ease-in-out;
}

.slide-in-left-enter-to,
.slide-in-left-leave {
  max-width: 100%;
}

.slide-in-left-enter,
.slide-in-left-leave-to {
  max-width: 0;
}

.slide-in-right-enter-active,
.slide-in-right-leave-active {
  transition: all 0.5s ease-in-out;
}

.slide-in-right-enter-to,
.slide-in-right-leave {
  max-width: 100%;
}

.slide-in-right-enter,
.slide-in-right-leave-to {
  max-width: 0;
}
