.vb-dragger {
  width: 6px;
  right: 2px;

  .vb-visible & {
    min-height: 1px;
  }

  .vb-invisible & {
    min-height: inherit;
  }

  .custom-select & {
    padding: 4px 0;
    right: 4px;
  }

  @include sm {

    .custom-modal & {
      padding: 16px 0;
      right: 4px;
    }
  }
}

.vb-dragger-styler {
  height: 100%;
  border-radius: 3px;
  background-color: $color-accent-primary;

  .dark-mode & {
    background-color: $color-accent-primary-dm;
  }
}