@import "@/assets/scss/helpers/_variables.scss";
@import "@/assets/scss/helpers/_mixins.scss";

.bottom-sheet {
  position: relative;
  z-index: 99999;
  transition: all 0.3s ease;

  * {
    box-sizing: border-box;
  }

  &.closed {
    visibility: hidden;
  }

  &.opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes show {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.bottom-sheet__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  @include sm {
    margin: 0 -10px;
  }
}

.bottom-sheet__content-inner {
  @include sm {
    padding: 0 10px;
  }
}

.bottom-sheet__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba($black, 0.4) !important;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  .bottom-sheet.closed & {
    animation: hide 0.3s ease;
  }

  .bottom-sheet.opened & {
    animation: show 0.3s ease;
    opacity: 1;
    visibility: visible;
  }
}

.bottom-sheet__card {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background-color: $md-sys-color-surface-light;
  width: 100%;
  max-width: 640px !important;
  max-height: calc(100% - 56px);
  margin: 0 auto;
  border-radius: 28px 28px 0 0;

  .dark-mode & {
    background-color: $md-sys-color-surface-dark;
  }

  &.square {
    border-radius: 0;
  }

  &.stripe {
    padding-bottom: 20px;
  }

  &.fx-default {
    transition: bottom 0.3s ease;
  }

  &.fx-fadein-scale {
    transition: all 0.3s;

    .bottom-sheet.opened & {
      transform: translate(-50%, 0) scale(1);
    }
  }

  &.fx-slide-from-right {
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);

    .bottom-sheet.opened & {
      transform: translate(-50%, 0);
    }
  }

  &.fx-slide-from-left {
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);

    .bottom-sheet.opened & {
      transform: translate(-50%, 0);
    }
  }

  .bottom-sheet.moving & {
    transition: none;
  }
}

.bottom-sheet__pan {
  padding-bottom: 22px;
  position: relative;
}

.bottom-sheet__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 4px;
  background-color: $md-sys-color-on-surface-variant-light;
  opacity: 0.4;
  border-radius: 8px;

  .dark-mode & {
    background-color: $md-sys-color-on-surface-variant-dark;
  }
}

.bottom-sheet__container {
  padding-bottom: 16px;
}