@import "../../assets/scss/helpers/variables";

input[type="submit"] {
  border: none;
  cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]) {
  min-height: $inputHeight;
}

textarea {
  min-height: 104px;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
  outline: none;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.25s ease;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 100%;
  padding: $defaultPadding;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 600;
  color: $color-text-primary;
  background-color: $color-input-bg;

  .dark-mode & {
    color: $color-text-primary-dm;
    background-color: $color-input-bg-dm;
  }

  &:focus,
  &:active {
    color: $color-text-primary;
    border-color: $color-accent-primary;

    .dark-mode & {
      color: $white;
      border-color: $color-accent-primary-dm;
    }
  }

  &:valid {
    color: $color-text-primary;

    .dark-mode & {
      color: $color-text-primary-dm;
    }
  }

  &::placeholder {
    color: $color-text-primary;

    .dark-mode & {
      color: $color-text-primary-dm;
    }
  }
}

.input {
  &-wr--with-icon {
    position: relative;

    .icon {
      position: absolute;
      top: 16px;
      left: 12px;
      display: flex;
      align-items: center;
      width: $iconDimensions;
      height: $iconDimensions;
      color: $color-text-primary;

      .dark-mode & {
        color: $color-text-primary-dm;
      }
    }

    input:not([type=checkbox]):not([type=radio]) {
      width: 100%;
      padding: $paddingWithIcon !important;
    }
  }
}

.textarea {
  &-wr--with-icon {
    position: relative;

    .icon {
      position: absolute;
      top: 16px;
      left: 12px;
      display: flex;
      align-items: center;
      width: $iconDimensions;
      height: $iconDimensions;
      color: $color-text-primary;

      .dark-mode & {
        color: $color-text-primary-dm;
      }
    }

    textarea {
      width: 100%;
      padding: $paddingWithIcon !important;
    }
  }
}