@import "@/assets/scss/helpers/variables";
@import "@/assets/scss/helpers/mixins";

.projects-page {
  padding-top: 48px;
  padding-bottom: 48px;

  .section-h1 {
    margin-bottom: 32px;
  }
}

.projects-page__head {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.projects-page__filter-search {
  width: 100%;

  input[type="text"] {
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 56px;
    border-color: transparent;
  }

  @include sm-max {
    .input-wr__label {
      display: none;
    }

    input[type="text"] {
      padding-top: 8px !important;
      padding-right: 48px !important;
    }
  }

  @include sm {
    width: calc(100% / 2);

    input[type="text"] {
      border-radius: 56px 0 0 56px;
      border: 1px solid $md-sys-color-outline-light;

      .dark-mode & {
        border-right: 1px solid $md-sys-color-outline-dark;
      }
    }
  }
}

.projects-page__filter-select {

  @include sm {
    width: calc(100% / 2);

    .custom-select__selected {
      border-radius: 0 56px 56px 0;
      border: 1px solid $md-sys-color-outline-light;
      border-left: 0;

      .dark-mode & {
        border: 1px solid $md-sys-color-outline-dark;
      }
    }
  }
}

.projects-page__filter-toggle {
  position: absolute !important;
  right: 8px;
  top: 8px;
}

.projects-page__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16px);
  margin: -8px;
}

.projects-list__item {
  position: relative;
  width: calc(100% - 16px);
  margin: 8px;

  @include sm {
    width: calc(100% / 2 - 16px);
  }
}

.projects-list__item-wr {
  padding: 24px;
  background: $md-sys-color-surface-1-light;
  border-radius: 24px;
  z-index: 1;
  transition: all 0.25s ease;

  .dark-mode & {
    background: $md-sys-color-surface-1-dark;
  }

  &:hover {
    background: $md-sys-color-secondary-container-light;
    border-radius: 32px;

    .dark-mode & {
      background: $md-sys-color-secondary-container-dark
    }
  }
}

.projects-list__item-link {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.projects-list__item-title {
  margin-bottom: 0;
}

.projects-list__item-desc {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 8px 0 0 0;
  width: 100%;
}

.projects-list__item-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.projects-list__item-icon-bg {
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.3s ease-out;

  .projects-list__item-wr:hover & {
    color: #00639b;
  }

  .dark-mode & {
    color: #1f1f1f;
  }

  .dark-mode .projects-list__item-wr:hover & {
    color: #7fcfff;
  }
}

.projects-list__item-icon-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #001d35;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;

  .projects-list__item-wr:hover & {
    color: #fff;
  }

  .dark-mode & {
    color: #c2e7ff;
  }

  .dark-mode .projects-list__item-wr:hover & {
    color: #003355;
  }
}