@import "@/assets/scss/helpers/variables";
@import "@/assets/scss/helpers/mixins";

.projects-page {
  padding-bottom: 48px;
}

.projects-page__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.projects-list__item {
  position: relative;
  width: 100%;
  flex-grow: 1;

  @include md {
    width: calc(100% / 2 - 16px);
  }

  @include lg {
    width: calc(100% / 3 - 16px);
  }
}

.projects-list__item-wr {
  padding: 24px;
  background: $item-bg;
  border-radius: 16px;
  z-index: 1;
  transition: all 0.25s ease;
  box-shadow: $elevation;
}

.projects-list__item-link {
  font-weight: 600;
  color: $secondary-text;
  margin-bottom: auto;
}

.projects-list__item-title {
  color: $primary-text;
  margin-bottom: 0;
}

.projects-list__item-desc {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $primary-text;
  margin: 8px 0 0 0;
  width: 100%;
}