@import "@/assets/scss/helpers/variables";
@import "@/assets/scss/helpers/mixins";

.projects-page {
  padding-top: 48px;
  padding-bottom: 48px;

  .section-h2 {
    padding: 0 24px;
    margin-bottom: 24px;
  }
}

.projects-page__filter {
  //display: none;
  justify-content: flex-end;
  margin-bottom: 16px;

  .custom-select {
    width: auto;
  }
}

.projects-page__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16px);
  margin: -8px;
}

.projects-list__item {
  position: relative;
  width: calc(100% - 16px);
  margin: 8px;

  @include md {
    width: calc(100% / 2 - 16px);
  }

  @include lg {
    width: calc(100% / 3 - 16px);
  }
}

.projects-list__item-wr {
  padding: 24px;
  background: $color-item-secondary;
  border-radius: 24px;
  z-index: 1;
  transition: all 0.25s ease;

  .dark-mode & {
    background: $color-item-secondary-dm;
  }

  &:hover {
    background: darken($color-item-secondary, 5%);
    border-radius: 32px;

    .dark-mode & {
      background: lighten($color-item-secondary-dm, 5%);
    }
  }
}

.projects-list__item-link {
  font-weight: 600;
  color: $color-text-secondary;
  margin-bottom: auto;

  .dark-mode & {
    color: $color-text-secondary-dm;
  }
}

.projects-list__item-title {
  color: $color-text-primary;
  margin-bottom: 0;

  .dark-mode & {
   color: $color-text-primary-dm;
  }
}

.projects-list__item-desc {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-text-primary;
  margin: 8px 0 0 0;
  width: 100%;

  .dark-mode & {
    color: $color-text-primary-dm;
  }
}