@import "../../assets/scss/helpers/variables";
@import "../../assets/scss/helpers/mixins";

.top-bar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 56px;
  transition: all 0.25s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $primary-bg;
    z-index: 0;
    transition: all 0.25s ease;
  }

  &:not(.show-top-bar) {
    transform: translateY(-100%);
  }

  &.show-top-bar::after {
    opacity: 1;
  }

  &.is-top::after {
    opacity: 0;
  }

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__burger + &__logo {
    margin-left: 16px;
  }

  &__logo {
    font-size: 18px;
    font-weight: 900;
  }

  &__nav {
    margin-left: auto;
    display: flex;
    gap: 16px;

    &-link {
      display: flex;
      align-items: center;
      padding: 8px;
      transition: all 0.25s ease;
      font-size: 18px;
      font-weight: 600;

      &:not(.router-link-exact-active):hover {
        color: $secondary-text;
      }

      &.router-link-exact-active {
        color: $secondary-text;
      }
    }
  }

  &__nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}