@import "../../assets/scss/helpers/variables";

.burger {
  cursor: pointer;
}
.burger__icon {
  display: block;
  width: auto;
  color: $md-sys-color-on-surface-light;

  .dark-mode & {
    color: $md-sys-color-on-surface-dark;
  }
}
