@import "../../assets/scss/helpers/variables";

.burger {
  cursor: pointer;
}
.burger__icon {
  display: block;
  width: auto;
  color: $color-text-primary;

  .dark-mode & {
    color: $color-text-primary-dm;
  }
}
