@import "../../assets/scss/helpers/variables";

.custom-select {
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 100%;

  &__label {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: $md-sys-color-on-surface-light;
    transition: all 0.25s ease;

    .dark-mode & {
      color: $md-sys-color-on-surface-dark;
    }

    .custom-select--opened & {
      color: $md-sys-color-primary-light;

      .dark-mode & {
        color: $md-sys-color-primary-dark;
      }
    }

    .custom-select__selected--with-icon & {
      left: 48px;
    }
  }

  &__selected {
    position: relative;
    transition: all 0.25s ease;
    border-radius: 4px 4px 0 0;
    width: 100%;
    padding: 24px 40px 8px 16px;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 600;
    color: $md-sys-color-on-surface-light;
    background-color: $md-sys-color-surface-variant-light;
    border-bottom: 1px solid $md-sys-color-outline-light;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: $inputHeight;

    .custom-select--opened & {
      border-color: $md-sys-color-primary-light;
      border-width: 2px;

      .dark-mode & {
        border-color: $md-sys-color-primary-dark;
      }
    }

    .dark-mode & {
      color: $md-sys-color-on-surface-dark;
      background-color: $md-sys-color-surface-variant-dark;
    }

    .custom-select:not(.custom-select--with-value) & {
      color: $md-sys-color-on-surface-variant-light;

      .dark-mode & {
        color: $md-sys-color-on-surface-variant-dark;
      }
    }

    &--with-icon{
      position: relative;
      padding: 24px 40px 8px 48px;

      .icon:not(.custom-select__arrow) {
        position: absolute;
        top: 16px;
        left: 12px;
        display: flex;
        align-items: center;
        width: $iconDimensions;
        height: $iconDimensions;
        color: $md-sys-color-on-surface-light;

        .dark-mode & {
          color: $md-sys-color-on-surface-dark;
        }
      }
    }
  }

  &__options-wrap {
    display: none;
    position: absolute !important;
    top: $inputHeightWithBorder;
    right: auto;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    border-radius: 0 0 4px 4px;
    overscroll-behavior: contain;
    box-shadow: $box-elevation;
    background-color: $md-sys-color-surface-variant-light;

    .dark-mode & {
      box-shadow: $box-elevation-dm;
      background-color: $md-sys-color-surface-variant-dark;
    }

    &.open {
      display: block;
    }
  }

  &__options{
    width: 100%;
    max-height: 40px * 4;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    cursor: pointer;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }

  &__option {
    margin: 0;
    padding: 8px 16px;
    -webkit-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 600;
    height: 40px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    border-bottom: 1px solid $md-sys-color-outline-light;

    .dark-mode & {
      border-bottom: 1px solid $md-sys-color-outline-dark;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover,
    &.active {
      background: rgba(0, 0, 0, 0.2);
    }

    &-label {
      display: block;
      word-break: break-word;
    }

    input {
      display: none;
    }

  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.25s ease;
    width: 40px;
    padding: 8px;
    color: $md-sys-color-on-surface-light;

    .dark-mode & {
      color: $md-sys-color-on-surface-dark;
    }

    &-up {
      transform: scaleY(-1);
    }
  }

  &--expanded {
    max-height: none;

    .custom-select__options-wrap {
      position: static !important;
      display: block !important;
      box-shadow: none;
      border-radius: 4px;
    }

    .custom-select__options {
      max-height: none;
    }
  }
}