/* colors */
$black: #000;
$white: #fff;
$color-border: #D3D9EB;

//myu
$accent: rgb(253, 230, 148);
$accent-hover: rgba(253, 230, 148);
$item-bg: rgb(250, 240, 202);
$primary-bg: rgb(255, 248, 225);
$secondary-bg: rgb(255, 248, 225);
$primary-text: rgb(31, 28, 21);
$secondary-text: rgb(74, 71, 62);
$elevation: rgb(191 180 140 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;

/* inputs */
$font-size: 16px;
$line-height: 24px;
$defaultPadding: 12px;
$paddingWithIcon: 12px 12px 12px 40px;
$invalid: red;
$inputHeight: 48px;
$inputHeightWithBorder: 52px;
$iconDimensions: 20px;

/* others */
$breadCrumbDivider: " - ";

/* media breakpoints */
$xs: 361px;
$sm: 601px;
$md: 961px;
$lg: 1153px;
$xl: 1441px;

$root-font-size-sm: 16px;
$root-font-size-md: 8px;
$root-font-size: 18px;