/* colors */
$black: #000;
$white: #fff;
$color-primary: #fff;
$color-item-bg: #F0F2F7;
$color-nav-bg: #EBEEF5;
$color-accent: #1F5AFF;
$color-accent-hover: #5280FF;
$color-accent-dark: #07163E;
$color-accent-dark-hover: #0B215C;
$color-accent-dark-hover-1: #0E2870;
$color-text-primary: #1f1f1f;
$color-text-secondary: #6E81B8;
$color-border: #D3D9EB;

/* inputs */
$font-size: 16px;
$line-height: 24px;
$defaultPadding: 12px;
$paddingWithIcon: 12px 12px 12px 40px;
$invalid: red;
$inputHeight: 48px;
$inputHeightWithBorder: 52px;
$iconDimensions: 20px;

/* others */
$breadCrumbDivider: " - ";

/* media breakpoints */
$xs: 361px;
$sm: 601px;
$md: 961px;
$lg: 1153px;
$xl: 1441px;

$root-font-size-sm: 16px;
$root-font-size-md: 8px;
$root-font-size: 18px;